# Data Challenge
July 2025

Hello from Cinépolis! :)

Read all the assignment before you start coding.

You will be given 5 datasets:

1. Emails.csv, a csv with rows that represent an email sent to each customer
2. Transactions.csv, a csv with select transactional data
3. Pricebook.csv, a csv with the full price for an adult ticket of a select number of theaters (theaters in the pricebook match those in the transactions file)
4. Releases.csv, a csv with the release date of movies in 2024 and the total number of tickets sold for each movie
5. Customers.csv, a csv with the ids of customers so you can join communications and transactions

Instructions:
- Your main objective is to showcase your both your Analytical and Communication skills, essential for a Data Science role. As such, we're interested mostly in seeing how you design an appropriate model and execute relevant analysis, showcasing your thought process and highlighting any relevant details. 
- Your deliverable must be ONLY a jupyter notebook saved as HTML (or something similar), with the outputs you want us to look at, and without any unnecessary code. We will not install anything on our computers, clone repos, run code, or check anything beyond the file you turn in. Make sure the relevant output from your notebook is shown, as *we will not run any code*. If you're applying for a manager position, you might turn in additonal executive documentation (e.g. an exec summary, a presentation, a memo).
- Your notebook should walk us through your thinking. Do not assume we will infer anything from your code. Explain what you're doing, why you're doing it, what you interpret from your results, and what questions you have of your own. If it's not clear to us what you're doing, we'll assume it's not clear to you either. 
- Do not send anything else beyond your notebook. 
- You may use AI assistants. However, we expect all the thinking process and interpretation to be yours, as we will ask you follow-up questions in subsequent interviews. If you choose to just copy-paste code from an AI assistant, it better beat the average conversation we can get by giving these exact same instructions to our favorite agents. 
- State any assumptions or comments explicitly in the code.
- Code doesn't have to be perfect, but keep it readable. If it's not readable, we'll be sad. If we're sad, we probably won't want to interview you.
- We urge you to work no more than 5 hours on this assignment. 
- We're giving you some tips that we think could be helpful for you to show your skills and to understand the data. Note that we don't need nor want you to address them all.
- If you need more time or have any questions, ask.

## Your task
You just started your new job at Cinépolis (yay!), and you're quickly asked for your first analysis. The marketing team has been spending a bunch of money sending emails to customers, but when asked what's the value of those messages, they didn't know what to answer. Your job is to help the marketing team come up with something they can report back to senior management, that explains **how valuable emails are**.

Your manager instructs you to make a regression that tries to explain the effect of communications on movie visits. Discuss your conclusion and provide evidence that supports it.  If you think there's a better approach to showing the value of email communications, state your logic and show your work. You may approach this as a regression, classification, or causal problem.

Some tip questions that could enlighten your path:
- Perform an EDA of the transactions, customers, mails, and releases.
- Are there seasonal patterns in the data?
- Are there unexpected spikes in attendance? When are they? Is it content-driven (e.g. a movie) or event-driven (e.g. vacations)?
- What characteristics do top-grossing movies have?
- Check differences in attendance between theater brands
- How many days do people wait before buying tickets for their movies?
- Do all customers behave the same?
- Do you think certain movies affect how much customers are willing to pay for a ticket?
- Does attendance to top theaters behave differently?
- Could some people be willing to pay anything for certain movies?
- Do certain customers receive more emails? 
- Do you think emails influence customer attendance? 
- Do you think emails influence how much they're spending on movie tickets? 
- If you end up doing a regression, make sure to control for relevant variables, explain any coefficient you think is relevant, along with statistical significance.

## Bonus task
Perform any analysis that piqued your interest. State your question, explain your current solution, and discuss conclusions. If you had more time, how would you improve on your results?

In [1]:
import pandas as pd

In [8]:
transactions = pd.read_csv("../../data/Transactions.csv", header=0)
pricebook = pd.read_csv("../../data/Pricebook.csv", header=0)
customers = pd.read_csv("../../data/Customers.csv", header=0)
emails = pd.read_csv("../../data/Emails.csv", header=0)
releases = pd.read_csv("../../data/Releases.csv", header=0, sep="|")

In [3]:
transactions

,ID_CINE,FECHA_TRANSACCION,FECHA_FUNCION,CARD_MEMBERSHIPID,ID_MARCA,TX_PELICULA_UNICA,BOLETOS,IMPORTE_TAQUILLA
0,219,2024-06-13,2024-06-13,4f01380467cb31bd50a00d8eba4d7ac788caedf0c64477...,1,INTENSAMENTE 2,1,195.0
1,219,2024-06-13,2024-06-14,eba23e28e2ca059479721104ae827b5a18c85683b4131a...,1,INTENSAMENTE 2,2,200.0
2,219,2024-06-13,2024-06-13,7b4a2ea46a0f3324a47a4b549a2e87f755af7ccaa18898...,1,INTENSAMENTE 2,2,200.0
3,219,2024-06-13,2024-06-14,b4e1a90bec8442a953735d09d33599c0c8c9772611de12...,1,INTENSAMENTE 2,4,588.0
4,219,2024-06-13,2024-06-13,e56ef40fd62c2ec123072a5a793ae8afce2d094e9098e3...,1,LOS EXTRAÑOS: CAPÍTULO 1,2,200.0
...,...,...,...,...,...,...,...,...
329575,401,2024-05-06,2024-05-06,65ca850f96a37a1fba27a189f60a534c3d15a94eb50282...,5,PROFESIÓN PELIGRO,2,238.0
329576,401,2024-05-06,2024-05-09,0f22e1c3e4dc366096347d873b6a6014a3fa6bad2a127b...,5,EL PLANETA DE LOS SIMIOS: NUEVO,1,119.0
329577,401,2024-05-06,2024-05-09,f38e863c57c81e0b262aac97cec5e680c420ceaa7804a2...,5,EL PLANETA DE LOS SIMIOS: NUEVO,2,238.0
329578,401,2024-05-06,2024-05-06,bafcab540af7e0b042d7ccfd4669de0b6e704b6bb493d3...,5,GARFIELD: FUERA DE CASA,2,238.0
329579,401,2024-05-06,2024-05-06,fad29f72daa22553bcbcb45beb012619bf8984c83027cc...,5,DESAFIANTES,2,190.0

In [34]:
pricebook.sort_values('PRECIO_POL_R')

    ID_CINE  PRECIO_POL_R
90       11          40.0
51      440          45.0
38      864          46.0
30     1141          47.0
28       64          47.0
..      ...           ...
20      680         176.0
82      220         177.0
85     1019         185.0
99      673         185.0
64      607         195.0

[103 rows x 2 columns]

In [5]:
customers

,CARD_MEMBERSHIPID,SubscriberKey
0,2b8e97ef50184e4ba7205b3d182e469e664594db8dbc04...,039cea23d6666fe9476d1f45478b880f564e007cf73325...
1,19d05a23131b3784beaec65a61991ab63d69543611db86...,5ac6a4ff355413bcc1a2e2649066604de3bbb2d6bb3cd8...
2,83b61b797976d6e4c01485d6e55be0cb8f2562f2fbe4d5...,8da643428f49be37a7ee7e208da6fb4bcc03f384bd84f9...
3,008a4826d2799d626fe972194d15a604503c13576715a7...,5ff176112ccc49c22096ef759ffff0f75c291f0c3360d2...
4,d1ec1403c54e306bb9013c93ab46d98eb83a3d5a3b6b0b...,b621416877fca03f0c648d2e703ba2021c3a7401a21e71...
...,...,...
5718364,0c2d31f5e477b6e55ffed867fc6e76fafd6fa1c013eba3...,74d7142db63dfc0481f7cfd825a3772d7dd0e74b4ab5a5...
5718365,4cb3953225a1079382e3ace9feb50b4d5653407284885b...,ed888499c1bba2c74c22f12809c1350827e22ebaae14a3...
5718366,f8813891cb1bc610dfce8569d04a799852af9f5296f664...,a59d4e860b78de683dd422bb5520abf453e184302fbbef...
5718367,e9924c1bb185a7bd703ca4f663db49274a717aebe46a2a...,be19517f0e29cbde98d7362f9875fdb374ec3ae37a2e51...
5718368,8cd00d90e6070dc98b53f0b24475ca0ea8906100a5cf73...,fff0b2ab72381a05e9fd1028f24cc3d70f35e892df2ac1...

In [6]:
emails

,SubscriberKeyH,EventDate,SendId
0,82a49252995c43cf35c75e8a17d9cd13daa325ce5116ab...,2023-06-01T19:38:42.000Z,1335101
1,9eedec3163c224896717f8fa27a34413c97f3c6490c03f...,2023-06-01T19:38:42.000Z,1335101
2,ce73f0fbda28aff1ee761df5b135fad387b8ebdc493661...,2023-06-01T19:38:47.000Z,1335101
3,2ce0b0f9bfbcd0a68b2f36f3eadaaccef57944d8ade608...,2023-06-01T18:34:17.000Z,1335083
4,9d1455e2b1968a5e043cf44e0a0c00d1e6da766467cebd...,2023-06-01T19:39:26.000Z,1335101
...,...,...,...
1864507,051f2721739576d1ec9011aca7930cbf021563974c189f...,2023-02-08T18:35:36.000Z,1203364
1864508,23a5446d7c344213e1bb4f74a7bf9e7494e1df257166a9...,2023-02-08T19:41:37.000Z,1203371
1864509,5dd776b692697b2c61115e657ccb7923ea81057221bd09...,2023-02-08T18:35:47.000Z,1203365
1864510,1b798fb4165cddc072457bbe86310bc21513da3428fa68...,2023-02-08T18:35:38.000Z,1203364
1864511,49ed5d98feac24b075bed395c7e0fabc4e2017d904860b...,2023-02-08T18:35:39.000Z,1203364

In [36]:
releases.sort_values('ESTRENO')

                      TX_PELICULA_UNICA     ESTRENO  VENTAS
318                           PRISCILLA  2024-01-01  118829
304                         NO LO ABRAS  2024-01-01    1350
311                         PAPÁ O MAMÁ  2024-01-01   16992
314                PERDIDOS EN LA NOCHE  2024-01-01     135
397               UNA CIGÜEÑA EN APUROS  2024-01-01    9494
..                                  ...         ...     ...
229  HARRY POTTER Y LA PIEDRA FILOSOFAL  2024-08-08   13821
72              CORALINE 15° ANIVERSARI  2024-08-15    2156
73             CORALINE 15° ANIVERSARIO  2024-08-15  126109
335  SEVENTEEN POWER OF LOVE: THE MOVIE  2024-08-21       2
336      SEVENTEEN TOUR 'FOLLOW' NUEVAM  2024-08-21    1854

[412 rows x 3 columns]

In [11]:
releases.loc[0:20]

                      TX_PELICULA_UNICA     ESTRENO  VENTAS
0              48HFP X EDICIÓN: GRUPO A  2024-01-13     191
1              48HFP X EDICIÓN: GRUPO B  2024-01-13     189
2                     57 SEGUNDOS ATRÁS  2024-02-19   97140
3                     74MICT CIELO ROJO  2024-02-14      70
4                      74MICT CLUB CERO  2024-02-09      46
5          74MICT EL SECUESTRO DEL PAPA  2024-02-12      44
6        74MICT LO MEJOR ESTÁ POR VENIR  2024-02-10      26
7                        74MICT MONSTER  2024-02-11      38
8            74MICT SOBRE HIERBAS SECAS  2024-02-13      33
9                               ABIGAIL  2024-04-18  207959
10           AESPA: WORLD TOUR EN CINES  2024-04-24    5345
11                     AGUAS SINIESTRAS  2024-01-04  166841
12                       AL SON DE BENO  2024-01-18      51
13  ALICIA EN EL PAÍS DE LAS PESADILLAS  2024-03-07   80369
14       AMB ADENTRO MÍO ESTOY BAILANDO  2024-04-13       4
15          AMB CH'UL BE  SENDA SAGRADA  2024-04-14      13
16                          AMB COPA 71  2024-04-12      30
17                           AMB EL ECO  2024-04-12      39
18      AMB EL GUARDIÁN DE LAS MONARCAS  2024-05-09       8
19                        AMB FAVORITEN  2024-04-12      14
20                          AMB HUELLAS  2024-05-11       4

## emails

In [12]:
# count SubscriberKeyH
emails['SubscriberKeyH'].value_counts()

SubscriberKeyH
4096b26c363e565e611962069c9ea66d1793abe9f664ac824223cd3877c6c573    5
83a1492f311b32d39ea68427ace36285654694eb6595ddc430b01343e4eaaabb    5
a85cb4267d245bbd5230739717e3b7e5e2ef845096e5592aeb1297825a55c029    5
1e2fe700d4b8fc490bd0ab08f58113a75a800ca34bd62db9b0854b189d0b1fa0    5
a2877bac38090165073bb888b9d566b0db4a9a0dc6759668adf5e8b7b727fccd    5
                                                                   ..
8aedbbefdd84d316cfb046c187018cc7c25eacc76b4f0660942a51302e378964    1
0bcdc1f970eca7f9c0e2d0e4425c74367dc5fc352238338288707be7892a937e    1
9466b59ab03a9b583238c759c450ec5850c63259c618eeebcae71039bded25b5    1
57738468f36693b1fc42f9638025e38f287c9b58c8642ac09926366374a5fe01    1
49ed5d98feac24b075bed395c7e0fabc4e2017d904860b1f13b462ed6f185943    1
Name: count, Length: 1719676, dtype: int64

In [15]:
# 4096b26c363e565e611962069c9ea66d1793abe9f664ac824223cd3877c6c573 in customers
customers.query("SubscriberKey.eq('9eedec3163c224896717f8fa27a34413c97f3c6490c03f')")

Empty DataFrame
Columns: [CARD_MEMBERSHIPID, SubscriberKey]
Index: []

In [16]:
# inner join emails and customers (some emails don't have a matching customer)
df_aux = emails.merge(customers, left_on="SubscriberKeyH", right_on="SubscriberKey", how="inner")
df_aux

,SubscriberKeyH,EventDate,SendId,CARD_MEMBERSHIPID,SubscriberKey
0,ec634a7e3aa501d09ef3f04b8754e35d9784a8f5c2e005...,2023-11-29T13:47:54.000Z,1446643,742d12444044a3e9bb1a2cf6366a655a2d3c6aaf129ae4...,ec634a7e3aa501d09ef3f04b8754e35d9784a8f5c2e005...
1,3b723d78213deb5b14e6abd064326d7a6814a887044ab3...,2023-11-29T13:47:54.000Z,1446643,77469b9f0de8821ab678101074b4807419df2ac676922a...,3b723d78213deb5b14e6abd064326d7a6814a887044ab3...
2,a2fa4285791854781125f5e8e14ece630d016e736a3f66...,2023-11-29T13:47:56.000Z,1446643,ed5ba01b5c83153c264e40d0d402b180f8ac4479eac62b...,a2fa4285791854781125f5e8e14ece630d016e736a3f66...
3,d2d03a95301e1a26dddb6a4c65f7331f6783807b5f6110...,2023-11-29T13:48:37.000Z,1446643,3fea058c49be5e3d22c004c1dfe0ec6b191d37529c452b...,d2d03a95301e1a26dddb6a4c65f7331f6783807b5f6110...
4,7ae3d098af21402785c07c12bd5dea0f5d4cd43499a1ea...,2023-11-29T11:45:14.000Z,1446629,d538badcacbedcc35868fe7b61edc3564362ab58152c28...,7ae3d098af21402785c07c12bd5dea0f5d4cd43499a1ea...
...,...,...,...,...,...
478487,c9586cd02e9a8fec028246f3e4e93683073cc77888d8cb...,2024-05-04T12:00:18.000Z,1454286,b3e4bb24bc7a77772836a7586cde7ab1d5b6d72e2516f5...,c9586cd02e9a8fec028246f3e4e93683073cc77888d8cb...
478488,93159d4406fe2b47f0754ae1b6469413fbd9ec72eb52a7...,2024-05-04T14:00:24.000Z,1454286,2d8b669ea3bdedc24eb41f49f43e843fb0eca69e8b6d0e...,93159d4406fe2b47f0754ae1b6469413fbd9ec72eb52a7...
478489,32314139404ec78323d3062579539c7fe88d51926dd504...,2024-05-04T21:00:08.000Z,1454265,d96e76a8accd09a9e9e5f09d0ab4776176b3bc9819e074...,32314139404ec78323d3062579539c7fe88d51926dd504...
478490,dabd9c25aec70812368b237f9bccd837eeea2ab8f2be33...,2024-05-04T14:00:20.000Z,1454286,4dbe45f3cac2a6d17b900c80bcf37ac8635d547796af90...,dabd9c25aec70812368b237f9bccd837eeea2ab8f2be33...
478491,2f3e4256795d96f799724081276a473c67bd0182583bc8...,2024-05-04T17:00:23.000Z,1454286,483f49594aea7268d96605380cab6347d284bde105147a...,2f3e4256795d96f799724081276a473c67bd0182583bc8...

In [31]:
# trx
print(transactions.shape)
print(transactions['CARD_MEMBERSHIPID'].nunique())
print(transactions['CARD_MEMBERSHIPID'].value_counts().le(1).mean())
transactions['CARD_MEMBERSHIPID'].value_counts()

(329580, 8)
264431
0.8221010395906683

CARD_MEMBERSHIPID
40c142fc8c61291b55a9750dced349abd4de0047220d37945bc6dd0353b21287    36
5fd86659c28740f0113404d2b32958e8677506945dbd32e6b576829794b86952    35
8fc6c441a891666a3ddb8236ab8a2d40c48cb7bd179245f209331280778bf040    33
ec9c5965132442238296cf35284a8a8a699acbe87d2a96edfad8ea0af9bbbd0b    28
511e191b8849ad6482d306c8d8716d83a4b5200dd95de6252cdc603aef08d562    19
                                                                    ..
924620fa4882ad0fb8f84b0d5aa4869cc41d84d93a9b9c9e3459ed412c1ec515     1
1257074c4ce7124ae3983f2eff43357e63a5a25ee703c7f4e78472e08e36c332     1
65d65712601438dcefb34d35d848618ddba03b45e813428faa714a1e05464b4f     1
296b0abfce25046cf7c1f3744dea8bb9954be34183343739b757b8ccc16dfc4b     1
fad29f72daa22553bcbcb45beb012619bf8984c83027ccc5f7de62f454eea21b     1
Name: count, Length: 264431, dtype: int64

In [28]:
# customers
print(customers.shape)
print(customers['SubscriberKey'].nunique())
print(customers['CARD_MEMBERSHIPID'].nunique())

(5718369, 2)
5718369
5718369

In [17]:
# count df_aux
df_aux['SubscriberKeyH'].value_counts()

SubscriberKeyH
a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52aaabca6a00ef6a2dbc    4
6f96123ede0c71bf7fabf6c597b0c11ce0bdf98f4e69ae924348698094cb5f03    4
465ee9cf71fbd92c3011f0fce4ce7780449edad8b078b8fbbd44a5e65d92b971    4
7c6f7f7f8baeaac3d33cb79b7e741e24d0c56bbee8ffe24bb65d77a2f04901ce    4
1354404fe62f65830b1ca135d454ea66290b3431ea820a905c4a110bea080508    4
                                                                   ..
e64ae3b7a5d3c2cbfa78ae404eec91bd90b1ecfc11ee0ebd9d0607df06506429    1
d47cd6e37e261d3301f0cd6e24b2387149f60d859aedcfc5381418df3c380be8    1
4665a7fc9a8ade4d3af64210849b8a4490b846ebf9badd8cefa2f86296888db9    1
1c9092abf7a513eeec41f93e573c736a08c3afacaeea87d29e3280b71467b80d    1
2f3e4256795d96f799724081276a473c67bd0182583bc8fc5163224540a38de1    1
Name: count, Length: 454740, dtype: int64

In [18]:
# look a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52aaabca6a00ef6a2dbc in df_aux
df_aux.query("SubscriberKeyH.eq('a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52aaabca6a00ef6a2dbc')")

,SubscriberKeyH,EventDate,SendId,CARD_MEMBERSHIPID,SubscriberKey
45953,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...,2024-07-04T19:06:27.000Z,1457378,73598e0707abb135d495210fa9c63ab9f0ee29a9593241...,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...
150060,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...,2024-03-20T16:03:37.000Z,1453005,73598e0707abb135d495210fa9c63ab9f0ee29a9593241...,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...
231907,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...,2023-12-28T19:43:23.000Z,1448408,73598e0707abb135d495210fa9c63ab9f0ee29a9593241...,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...
329093,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...,2024-07-10T16:24:45.000Z,1457493,73598e0707abb135d495210fa9c63ab9f0ee29a9593241...,a5102c4af270ddc3cd780878a8884a68f4b8674c0e0a52...

In [33]:
# count SendId
print(f"unique SendId in df_aux: {df_aux['SendId'].nunique()}")
print(df_aux['SendId'].value_counts().ge(100).mean())
df_aux['SendId'].value_counts()

unique SendId in df_aux: 941
0.5589798087141339

SendId
1456992    9513
1457396    9335
1454551    9166
1452762    8966
1452504    6474
           ...
1454607       1
1448084       1
1452675       1
1456465       1
1437845       1
Name: count, Length: 941, dtype: int64